<body>
    <table>
        <tbody>
            <tr>
                <td>First</td>
                <td>Second</td>
                <td>Third</td>
            </tr>
            <tr>
                <td>Fourth</td>
                <td>Fifth</td>
                <td>Sixth</td>
            </tr>
        </tbody>
    </table>
</body>
